.nav {
  width: 90%;
  margin: auto;
  padding: 1.1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;

  a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
  }




  .links {
    * {
      margin-left: 45px;
    }

    .userInfo {
      display: inline;
      margin: 0;
    }
  
    button {
      padding: .8em;
      border-radius: 10px;
      border: none;
      background: #033557;
      color: #fff;
      font-size: 1em;
      cursor: pointer;
    }

    .address {
      color: #d0db4e;
      margin-left: 25px;
    }

    .energyBox {
      display: inline;
      margin-left: 0;
  
      .energyText {
        color: #fff;
        font-size: 1.1em;
      }
    
      .energyIcon {
        width: 30px;
        margin-left: 0;
        vertical-align: middle;
      }
    }
  
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');