.container {
  text-align: center;

  .showScore {
    color:white;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
  }

  .gameArea {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: white;

    
    .startGameBtn {
      margin-bottom: 10rem;
      font-size: 16px;
      padding: .5rem 3rem;
      border-radius: .3rem;
      background-color: white;
    }
    
    .startGameBtn:hover {
      cursor: pointer;
      background-color: #ccc;
    }

    .gameOverScreen {
      font-size: 20px;
      text-align: center;
    }

    .score {
      display: inline;
      margin: 0;
    }

    .loginBtn {
      padding: .8em;
      border-radius: 10px;
      border: none;
      background: #1e6f5c;
      color: #fff;
      font-size: 1em;
      cursor: pointer;
    }
  }


}