.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);

  * {
    margin: 0;
    padding: 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px 200px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .scoreModal {
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  button {
    border: none;
    padding: 15px 50px;
    background: rgb(59, 130, 246);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
}

.score {
  padding-bottom: 25px;
  color: #fff;
  font-size: 25px;

  /* Para que no se seleccione el texto en azul */
  user-select: none;
}